results/*
results_csv/*
*.ipynb
*.sh
trained_models/*
data

__pycache__/
*.py[cod]

sm_utils.py
base_env.yaml
run/*
run_trash/*
*.zip
data_cifar/*
slack_sender.py
*.png
*.jpg
t_*

mahalanobis_dist.py
mahalanobis_sigma_model*

lp_strong_f_male_blond_pc_correct_pred_correct/
lp_strong_f_male_blond_pc_correct_pred_wrong/
mfd_strong_f_male_blond_pc_correct_pred_correct/
mfd_strong_f_male_blond_pc_correct_pred_wrong/
scratch_strong_f_male_blond_pc_correct_pred_correct/
scratch_strong_f_male_blond_pc_correct_pred_wrong/
trainer/sensei_2.py

cifar10sb_results/