results/*
results_csv/*
*.ipynb
*.sh
trained_models/*
data

__pycache__/
*.py[cod]

sm_utils.py
base_env.yaml
run/*
run_trash/*
*.zip
data_cifar/*
slack_sender.py
*.png

t
tt
ttt
t_eval

mahalanobis_dist.py
mahalanobis_sigma_model_scratch_aug_loadnum_20_iter4_batch8
mahalanobis_sigma_model_scratch_loadnum_20_iter4_batch8